
/* Selector universal o reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
    

}


/*Fuente local*/
 @font-face {
    font-family: "Moderna_Demo" ;
    src: url("../fonts/Moderna_Demo.ttf");
    
}

p {
    font-family: 'Rubik', sans-serif;

}

/* todo el cuerpo */

section.page{
    background-color: darkslategrey;

}
/* BARRA DE NAVEGACION */
nav.navbar{
    position: sticky;
    top: 0;
    background-color: rgb(127, 255, 212) !important;

}
/* 
.navbar ul {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li{
    
    padding: 10px;
    margin: 5px;
    background-color: rgb(10, 198, 107);
}
.navbar ul li a {
    color: darkslategray;
} */
/* FIN BARRA DE NAVEGACION */


/* TABLA */
.tabla{
    color: blue;
}

#tabla{
    border: 1px solid blue;
}

/* FIN TABLA*/


/* ESTILOS DEL HEADER */

h1 {
    color: rgb(0, 83, 83);
    font-size: 60px;
    font-family: 'Moderna_Demo';
}
span {
    font-family: 'Moderna_Demo';
    color: orange;
}
.iconos{
    display: flex;
    align-items: end;
    width: 40px;
}

header.cabecera {
    
    display: flex;
    justify-content: space-evenly;
    row-gap: 2rem;
    position: relative;
    width: 100%;
    height: 170px;
    background-image: url(../img/fondo.jpeg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
} 

.cabecera h1 {
    position: relative;
    
    
}
.imagenPrincipal {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px;
    justify-content: center;

}
img.img-medium{
    max-width: 600px;
    
}

/* FIN ESTILOS DEL HEADER */

/* conocenos */

/* div.conocenos {

    display: flex;
    flex-direction: column;  
    justify-content: space-around;
    padding: 50px;
    align-items: center;
    

}*/
div.conocenos p.intro {
    font-size: larger;
    text-align: center;
   
    padding-top: 20px;
    padding-bottom: 50px; 
}
div.conocenos h2{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 3px;
   
}
/* div.conocenos p.flotante {
   
    text-align: justify;
    height: 300px;
    width: 800px;
    padding: 10px 12px 8px 20px;
    overflow: auto;
} */




/* estilo del contenedor servicios */
section.contenedorPadre {
    background-color:darkcyan;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px 30px;
}


/* estilo del mapa */
div.mapa {
    text-align: center;
    padding: 20px;
}

div.mapa h2{
    padding-bottom: 20px;
}
/* estilo del formulario contacto */

section.contacttable{
    justify-content: center;
    padding: 50px;
    background-color: darkcyan;
    align-items: center;

}
/* fin estilo contacto */

/* Estilo del footer */
footer.pieDePagina{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgb(127, 255, 212);

}