
/* Selector universal o reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
    

}


/*Fuente local*/
 @font-face {
    font-family: "Moderna_Demo" ;
    src: url("../fonts/Moderna_Demo.ttf");
    
}

p {
    font-family: 'Rubik', sans-serif;
    /* color: aliceblue; */
}
p.blanco{
    color: white;
}
h2.blanco{
    color: white;
}

/* todo el cuerpo */

section.page{
    background-color: #2C3639;

}
/* BARRA DE NAVEGACION */
nav.navbar{
    position: sticky;
    
    top: 0;
    background-color: #395B64 !important;

}
/* 
.navbar ul {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li{
    
    padding: 10px;
    margin: 5px;
    background-color: rgb(10, 198, 107);
}
.navbar ul li a {
    color: darkslategray;
} */
/* FIN BARRA DE NAVEGACION */


/* TABLA */
.tabla{
    color: blue;
}

#tabla{
    border: 1px solid blue;
}

/* FIN TABLA*/


/* ESTILOS DEL HEADER */

h1 {
    color: rgb(0, 83, 83);
    font-size: 60px;
    font-family: 'Moderna_Demo';
}
span {
    font-family: 'Moderna_Demo';
    color: orange;
}
.iconos{
    display: flex;
    align-items: end;
    width: 60px;
}

header.cabecera {
    
    padding: 20px 20px;;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 2rem;
    position: relative;
    width: 100%;
    height: 170px;
    background-image: url(../img/fondo.jpeg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
} 

header.principal {
    background-color: red;
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.cabecera h1 {
    position: relative;
    
    
}


/* ESTILOS DE LA PAG PRINCIPAL */
.imagenPrincipal {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px;
    justify-content: center;

}
img.img-medium{
    max-width: 600px;
    
}
div
/* ESTILOS DE LA PAGINA SERVICIOS */

div.title{
    display: flex;
    background-color: #2C3639;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}
h2.title{
    background-color: antiquewhite;

    padding: 10px 10px;
    border-radius: 8px;
}

/* FIN ESTILOS SERVICIOS */
div.conocenos p.intro {
    font-size: larger;
    text-align: center;
   
    padding-top: 20px;
    padding-bottom: 50px; 
}
div.conocenos h2{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 3px;
   
}
/* div.conocenos p.flotante {
   
    text-align: justify;
    height: 300px;
    width: 800px;
    padding: 10px 12px 8px 20px;
    overflow: auto;
} */




/* estilo del contenedor servicios */
section.contenedorPadre {
    background-color:#2C3639;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px 30px;
}


/* estilo del mapa */
div.mapa {
    text-align: center;
    padding: 20px;
}

div.mapa h2{
    padding-bottom: 20px;
}
/* estilo del formulario contacto */

section.contacttable{
    justify-content: center;
    padding: 50px;
    background-color: darkcyan;
    align-items: center;

}
/* fin estilo contacto */



/* estilos congresos */
.c-item{
    height: 480px;
}
.c-img{
    height: 100%;
    object-fit: cover;
}

/* Estilo del footer */
footer.pieDePagina{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #395B64;

}


@media screen and (max-width: 400px) {
    h1{
        font-size: 40px;
    }

    .cabecera{
        padding: 10px 10px;
    }
    .iconos{
        width: 40px;
    }


    
}