@import "partials/reset";

@import "partials/variables";

@import "partials/mixins";

/* Selector universal o reset */

/*CUERPO Y Fuente local*/
 @font-face {
    font-family: "Moderna_Demo" ;
    src: url("../fonts/Moderna_Demo.ttf");
    font-family: "YsabeauSC-Regular";
    src: url("../fonts/YsabeauSC-Regular.ttf");
}
p{
    font-family: 'Rubik', sans-serif;

}
p.blanco{
    /* color: white; */
    @include fontShell (white, $fontSmall, bold); 
}
h2.blanco{
    color: white;
}
main.wrapper{
    background-color: #2C3639;
   

}
/* todo el cuerpo */

/* BARRA DE NAVEGACION */
nav.navbar{

    top: 0;
    background-color: $colorFooter !important;

}
/* ESTILOS DEL HEADER */

h1 {
    color: $colorPrincipal;
    font-size: $fontBig ;
    font-family: 'YsabeauSC-Regular';
    span{
        color: $colorCaja;
    }
}


img.iconos{
    display: flex;
    align-items: end;
    padding:5px 5px;
    width: 70px;
}


header.cabecera {
    
    padding: 20px 20px;;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 2rem;
    position: relative;
    width: 100%;
    height: 170px;
    background-image: url(../img/fondo.jpeg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        position: relative;
        
    }    
} 
/* ESTILOS DE LA PAG PRINCIPAL */
div.imagenPrincipal {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px;
    justify-content: center;

}

div.tarjetas {
    padding: 20px 20px 20px 20px;
    
}

/* ESTILOS DE LA PAGINA SERVICIOS */

div.title{
    display: flex;
    background-color: #2C3639;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}
h2.title{
    background-color: $colorCaja;
    padding: 10px 10px;
    border-radius: 8px;
}

/* estilo del contenedor servicios */
section.contenedorPadre {
    background-color:$colorSecundario;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px 30px;
}
/* FIN ESTILOS SERVICIOS */

/* Estilos de Conocenos */
div.conocenos p.intro {
    font-size: larger;
    text-align: center;
   
    padding-top: 20px;
    padding-bottom: 50px; 
}
div.conocenos h2{
    background-color: $colorCaja;
    padding: 10px;
    border-radius: 3px;
   /*  font-size: $fontMedium; */
   
}
/* MAPA */
div.mapa {
    display: block;
    text-align: center;
    padding: 10px;
    h2 {
        padding-bottom: 20px;
       
    }
}

/*CONTACTO */

section.contacttable{
    justify-content: center;
    padding: 50px;
    background-color: $colorFooter;
    align-items: center;

}
/* fin estilo contacto */

/* CONGRESOS */
.c-item{
    height: 480px;
}
.c-img{
    height: 100%;
    object-fit: cover;
}
/* Fin congresos */

/* NOTICIAS */
div.ytvids {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

div.espaciovids {
    padding-top: 10px;
    padding-bottom: 20px;
}
/* FOOTER */
footer.pieDePagina{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #395B64;
    h4, p{
        color:white
    }
   

}
/* FIN FOOTER */

@import "partials/queries";