@import "partials/reset";

@import "partials/variables";

@import "partials/mixins";


/*CUERPO Y Fuente local*/
 @font-face {
    font-family: "Moderna_Demo" ;
    src: url("../fonts/Moderna_Demo.ttf");
    font-family: "YsabeauSC-Regular";
    src: url("../fonts/YsabeauSC-Regular.ttf");
}
p{
    font-family: 'Rubik', sans-serif;

}
p.blanco{
    
    @include fontShell (white, $fontSmall, bold); 
}
h2.blanco{
    color: white;
}
main.wrapper{
    background-color: #9DB2BF;
   box-shadow: 0 3px 10px rgba(33, 37, 41, 0.2);

}
/* todo el cuerpo */
/* boton wsp */
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }
/* BARRA DE NAVEGACION */
.navbar{
    transition: all 0.6s;
}

.navbar-scrolled{
    background-color: #212529 ;
}
/* ESTILOS DEL HEADER */

h1 {
    color: $colorPrincipal;
    font-size: $fontBig ;
    font-family: 'YsabeauSC-Regular';
    span{
        color: $colorCaja;
    }
}

.scroll{
    padding-top: 50px;
}



header.cabecera1 {
    
   
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    position: relative;
    height: 100vh;
    /* width: 100vw; */
    background-image: url(../img/fondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover; 
    background-attachment: fixed;

} 
header.cabecera {
    
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    position: relative;
    /* width: 100vw; */
    height: 280px;
    background-image: url(../img/fondo.jpeg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}

section.conoce{
    padding-top: 80px;
}
/* ESTILOS DE LA PAG PRINCIPAL */
div.imagenPrincipal {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px;
    justify-content: center;

}


div.tarjetas {
    padding: 20px 20px 20px 20px;
    
    
}

/* ESTILOS DE LA PAGINA SERVICIOS */

div.title{
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}
h2.title{
    
    background-color: $colorCaja;
    padding: 10px 10px;
    border-radius: 8px;
}

/* estilo del contenedor servicios */
section.contenedorPadre {
    background-color:$colorSecundario;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px 30px;
}

/* FIN ESTILOS SERVICIOS */

/* Estilos de Conocenos */
section.conoce{
    
    background-image: url(../img/bluebg.png);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
div.conocenos {

    h2{
        background-color: $colorCaja;
        padding: 10px;
        border-radius: 5px;
        font-size: $fontNormal;
    }
    p{
    font-size: ($fontNormal/2);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; 
    }
   
 
}
/* MAPA */
div.mapa {
    display: block;
    text-align: center;
    padding: 10px;
    h2 {
        padding-bottom: 20px;
       
    }
}

/*CONTACTO */

section.contacttable{
    justify-content: center;
    padding: 50px;
    background-color: $colorTabla;
    align-items: center;

}
/* fin estilo contacto */

/* CONGRESOS */
.c-item{
    height: 480px;
}
.c-img{
    height: 100%;
    object-fit: cover;
}
/* Fin congresos */

/* NOTICIAS */
div.noti{
    padding-top: 20px;
}
div.ytvids {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

div.espaciovids {
    padding-top: 10px;
    padding-bottom: 20px;
}
/* FOOTER */
footer.pieDePagina{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #395B64;
    h4, p{
        color:white
    }
   
   

}
.redes{
    img{
        width: 50px;
        height: 50px;
    }
}
/* FIN FOOTER */

@import "partials/queries";