/* MEDIA QUERIES QUE FUERON REEMPLAZADOS POR BOOTSTRAP EN SU MAYORIA */
/* Tamanio de fuentes */
@import "variables";


@media screen and (max-width: 576px) {
    h1 {
        font-size: $fontNormal;
    }
    h2{
        font-size: $fontSmall;
    }
    div.cabecera{
        padding: 10px 10px;
    }
    img.iconos{
        width: 80px;
        padding: 15px 15px;
    }
    /* header.cabecera {
        padding: 5px 5px; 
        row-gap: 0rem;
        position: relative;
        width: 100%;
        height: 100%;
      
    }  */
    div.tarjetas {
        padding: 10px 10px ;
        padding-top: 2px;
    }
    div.conocenos p.intro{
        font-size: $fontSmall;
    }
}
@media screen and (min-width:577px) and (max-width: 992px){

    h1{
        font-size: $fontMedium;
    }
    img.iconos{
        
        width: fit-content;
        padding: 5px 5px;
    }
    header.cabecera {

        padding: 5px 5px;
        row-gap: 1rem;
    }

}