/* MEDIA QUERIES QUE FUERON REEMPLAZADOS POR BOOTSTRAP EN SU MAYORIA */
@media screen and (max-width: 400px) {
    h1{
        font-size: 40px;
    }

    div.cabecera{
        padding: 10px 10px;
    }
    div.iconos{
        width: 40px;
    }

}