
/* Gama de colores */
/* $colorPrincipal:  rgb(0, 83, 83);
$colorSecundario:  #2C3639;
$colorCaja:  antiquewhite;
$colorTabla: darkcyan;
$colorFooter: #395B64; */
$colorPrincipal: #27374D ;
$colorSecundario:  #9DB2BF;
$colorCaja:  #DDE6ED;
$colorTabla: #526D82;
$colorFooter: #27374D;


/* Tamanio de fuentes */

$fontSmall: 1.2rem;
$fontNormal: 3rem;
$fontMedium: 4.5rem;
$fontBig: 6rem;