
/* Gama de colores */
$colorPrincipal:  rgb(0, 83, 83);
$colorSecundario:  #2C3639;
$colorCaja:  antiquewhite;
$colorTabla: darkcyan;
$colorFooter: #395B64;


/* Tamanio de fuentes */

$fontSmall: 1rem;
$fontNormal: 2rem;
$fontMedium: 3rem;
$fontBig: 3.5rem;