
/* Gama de colores */
$colorPrincipal:  rgb(0, 83, 83);
$colorSecundario:  #2C3639;
$colorCaja:  antiquewhite;
$colorTabla: darkcyan;
$colorFooter: #395B64;


/* Tamanio de fuentes */

$fontSmall: .8rem;
$fontNormal: 1rem;
$fontMedium: 2.5rem;
$fontBig: 4rem;